<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangspaghetti.babytalk.palace.PalaceKeywordMapper">

    <resultMap id="chunkRowMap" type="com.zhangspaghetti.babytalk.palace.PalaceKeywordMapper$ChunkRow">
        <constructor>
            <arg column="id"
                 javaType="java.util.UUID"
                 jdbcType="OTHER"
                 typeHandler="com.zhangspaghetti.babytalk.mybatis.UuidTypeHandler"/>
            <arg column="content" javaType="java.lang.String"/>
            <arg column="metadata_json" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="searchByKeywords" resultMap="chunkRowMap">
        select id,
               content,
               metadata::text as metadata_json
        from vector_store
        where content_tsv @@ plainto_tsquery('simple', #{keywords})
        <if test="wing != null and wing != ''">
          and metadata-&gt;&gt;'wing' = #{wing}
        </if>
        <if test="room != null and room != ''">
          and metadata-&gt;&gt;'room' = #{room}
        </if>
        order by ts_rank(content_tsv, plainto_tsquery('simple', #{keywords})) desc
        limit #{limit}
    </select>

    <select id="readChunkById" resultMap="chunkRowMap">
        select id,
               content,
               metadata::text as metadata_json
        from vector_store
        where id = #{id, jdbcType=OTHER, typeHandler=com.zhangspaghetti.babytalk.mybatis.UuidTypeHandler}
    </select>
</mapper>
